# Dependencies
node_modules/
.DS_Store
src/.DS_Store
test/.DS_Store

# Documentation
docs/
coverage/*
!coverage/badge-*.svg

# dev_resources
extension-structure.md
manifest-explained.md

# Build output
build/